.Order {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;

    @media screen and (max-width:1021px) {
        width: 100%;
    }

    @media screen and (max-width:801px) {
        display: flex;
        flex-direction: column;
        height: 150vh;
    }

    @media screen and (max-width:701px) {
        display: flex;
        flex-direction: column;
        height: 150vh;
    }

    @media screen and (max-width:391px) {
        height: 115vh;
    }

    @media screen and (min-height:933px) {
        height: 127vh;
    }

    @media screen and (min-height:853px) {
        height: 135vh;
    }

    @media screen and (min-height:853px) {
        height: 135vh;
    }

    @media screen and (max-height:668px) {
        height: 140vh;
    }

    @media screen and (max-width:376px) {
        height: 160vh;
    }

    @media screen and (max-height:569px) {
        height: 155vh;
    }

    @media screen and (max-height:481px) {
        height: 205vh;
    }

    @media screen and (max-height:393px) {
        height: 230vh;
        border: 2px solid red;
        justify-content: center;
    }

    .Order-carnet {
        width: 45%;
        height: 65vh;
        display: flex;
        flex-direction: column;
        gap: 60px;
        border-radius: 30px;
        background-color: #888672;

        @media screen and (max-width:1021px) {}

        @media screen and (max-width:801px) {
            width: 70%;
            height: 55vh;
            gap: 20px;
        }

        @media screen and (max-width:701px) {
            width: 70%;
            height: 55vh;
            gap: 20px;
        }

        @media screen and (max-width:477px) {
            height: 50vh;
        }

        @media screen and (min-height:933px) {
            height: 35vh;
            gap: 50px;
        }

        @media screen and (min-height:853px) {
            height: 33vh;
        }

        @media screen and (min-height:741px) {
            height: 42vh;
        }

        @media screen and (max-width:391px) {
            height: 32vh;
        }

        @media screen and (max-width:376px) {
            height: 45vh;
            gap: 32px;
        }

        @media screen and (max-height:393px) {
            height: 95vh;
            gap: 40px;
        }

        @media screen and (max-width:341px) {
            height: 45vh;
        }

        @media screen and (max-height:481px) {
            height: 55vh;
        }

        h1 {
            width: 90%;
            height: 57%;
            margin: 10px 0px 0px 10px;
            color: aliceblue;
            font-size: 47px;
            font-weight: 700;

            @media screen and (max-width:1021px) {
                width: 95%;
                font-size: 35px;
            }

            @media screen and (max-width:891px) {
                font-size: 33px;
            }

            @media screen and (max-width:786px) {
                font-size: 30px;
            }

            @media screen and (max-width:721px) {
                font-size: 28px;
            }

            @media screen and (max-width:701px) {
                font-size: 35px;
            }

            @media screen and (max-width:672px) {
                font-size: 32px;
            }

            @media screen and (max-width:615px) {
                font-size: 30px;
            }

            @media screen and (max-width:577px) {
                font-size: 28px;
            }

            @media screen and (max-width:477px) {
                font-size: 26px;
            }

            @media screen and (max-width:444px) {
                font-size: 25px;
            }

            @media screen and (max-width:427px) {
                font-size: 24px;
            }

            @media screen and (max-width:410px) {
                font-size: 22px;
            }

            @media screen and (max-width:341px) {
                font-size: 20px;
            }
        }

        p {
            font-weight: 700;
            font-size: 35px;
            margin: 0px 0px 0px 10px;
            color: azure;

            @media screen and (max-width:891px) {
                font-size: 33px;
            }

            @media screen and (max-width:477px) {
                font-size: 26px;
            }

            @media screen and (max-width:338px) {
                font-size: 22px;
            }
        }
    }

    .Order-data {
        width: 45%;
        height: 65vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border-radius: 30px;
        border: 7px solid #f5f5f5;
        background-color: #555;

        @media screen and (max-width:1021px) {
            gap: 50px;
            justify-content: flex-end;
            align-items: center;
        }

        @media screen and (max-width:1001px) {
            gap: 37px;
            justify-content: center;
        }

        @media screen and (max-width:891px) {
            gap: 30px;
        }

        @media screen and (max-width:851px) {
            gap: 15px;
            justify-content: inherit;
        }

        @media screen and (max-width:801px) {
            width: 70%;
            gap: 50px;
        }

        @media screen and (max-width:701px) {
            width: 70%;
        }

        @media screen and (max-width:601px) {
            gap: 40px;
        }

        @media screen and (max-width:581px) {
            gap: 30px;
        }

        @media screen and (max-width:556px) {
            gap: 25px;
        }

        @media screen and (max-width:541px) {
            flex-direction: column;
            height: 150vh;
        }

        @media screen and (max-height:933px) {
            height: 65vh;
        }

        @media screen and (max-height:927px) {
            height: 65vh;
        }

        @media screen and (min-height:853px) {
            height: 70vh;
        }

        @media screen and (max-height:668px) {
            height: 80vh;
        }

        @media screen and (max-height:569px) {
            height: 95vh;
        }

        @media screen and (max-height:481px) {
            height: 110vh;
        }

        @media screen and (max-width:391px) {
            justify-content: center;
            width: 65%;
        }

        @media screen and (max-width:376px) {
            height: 86vh;
        }

        form {
            width: 50%;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            align-items: flex-start;

            @media screen and (max-width:1361px) {
                width: 50%;
                border: 2px solid red;
            }

            @media screen and (max-width:1021px) {
                width: 40%;
            }

            @media screen and (max-width:541px) {
                width: 80%;
            }

            @media screen and (min-height:933px) {
                height: 33vh;
            }

            @media screen and (min-height:927px) {
                height: 33vh;
            }

            @media screen and (min-height:853px) {
                height: 36vh;
            }

            @media screen and (max-width:391px) {
                justify-content: center;
            }

            @media screen and (max-height:569px) {
                height: 44vh;
                gap: 35px;
            }

            @media screen and (max-height:481px) {
                height: 55vh;
            }

            @media screen and (max-height:393px) {
                height: 70vh;
                gap: 30px;
            }


            .input-head {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 320px;
                height: 200px;

                @media screen and (max-width:376px) {
                    width: 182px;
                }

                input {
                    width: 320px;
                    height: 50px;
                    border-radius: 50px;
                    border: 4px solid #f5f5f5;
                    border-radius: 7px;
                    font-size: 25px;
                    background-color: transparent;

                    @media screen and (max-width:1361px) {
                        width: 85%;
                    }

                    @media screen and (max-width:1201px) {
                        width: 75%;
                    }

                    @media screen and (max-width:1101px) {
                        width: 70%;
                    }

                    @media screen and (max-width:1021px) {
                        width: 55%;
                    }

                    @media screen and (max-width:891px) {
                        width: 45%;
                        font-size: 22px;
                    }

                    @media screen and (max-width:801px) {
                        width: 65%;
                    }

                    @media screen and (max-width:676px) {
                        width: 55%;
                    }

                    @media screen and (max-width:601px) {
                        width: 45%;
                    }

                    @media screen and (max-width:541px) {
                        width: 90%;
                    }

                    @media screen and (max-width:501px) {
                        width: 75%;
                    }

                    @media screen and (max-width:421px) {
                        width: 65%;
                    }

                    @media screen and (max-height:393px) {
                        width: 65%;
                    }

                    @media screen and (max-width:391px) {
                        width: 58%;
                    }

                    @media screen and (max-width:381px) {
                        width: 55%;
                    }

                    @media screen and (max-width:376px) {
                        width: 100%;
                    }

                    @media screen and (max-width:361px) {
                        width: 50%;
                    }
                }

                select {
                    width: 320px;
                    height: 50px;
                    border-radius: 50px;
                    border: 4px solid #f5f5f5;
                    border-radius: 7px;
                    font-size: 25px;
                    color: gray;
                    background-color: transparent;

                    @media screen and (max-width:1361px) {
                        width: 85%;
                    }

                    @media screen and (max-width:1201px) {
                        width: 75%;
                    }

                    @media screen and (max-width:1101px) {
                        width: 70%;
                    }

                    @media screen and (max-width:1021px) {
                        width: 55%;
                    }

                    @media screen and (max-width:891px) {
                        width: 45%;
                        font-size: 22px;
                    }

                    @media screen and (max-width:801px) {
                        width: 65%;
                        font-size: 22px;
                    }

                    @media screen and (max-width:676px) {
                        width: 55%;
                    }

                    @media screen and (max-width:601px) {
                        width: 45%;
                        font-size: 16px;
                    }

                    @media screen and (max-width:541px) {
                        width: 90%;
                        font-size: 20px;
                    }

                    @media screen and (max-width:501px) {
                        width: 75%;
                    }

                    @media screen and (max-width:421px) {
                        width: 65%;
                    }

                    @media screen and (max-height:393px) {
                        width: 65%;
                        // height: 500px;
                    }

                    @media screen and (max-width:391px) {
                        width: 58%;
                    }

                    @media screen and (max-width:381px) {
                        width: 55%;
                    }

                    @media screen and (max-width:376px) {
                        width: 100%;
                    }

                    @media screen and (max-width:361px) {
                        width: 50%;
                    }

                    option {
                        background-color: transparent;

                        @media screen and (max-width:891px) {
                            width: 45%;
                            font-size: 22px;
                        }
                    }
                }
            }

            .btn {
                width: 320px;
                height: 50px;
                cursor: pointer;
                background-color: #c8d3ce;
                border-radius: 7px;
                color: #ffffff;
                font-size: 16px;
                font-weight: 700;
                border: none;

                @media screen and (max-width:1361px) {
                    width: 90%;
                }

                @media screen and (max-width:1021px) {
                    width: 100%;
                    font-size: 14px;
                }

                @media screen and (max-width:985px) {
                    font-size: 12px;
                }

                @media screen and (max-width:601px) {
                    width: 90%;
                }

                @media screen and (max-width:541px) {
                    width: 100%;
                    font-size: 18px;
                }

                @media screen and (max-width:501px) {
                    width: 85%;
                    font-size: 15px;
                }

                @media screen and (max-width:421px) {
                    width: 95%;
                }

                @media screen and (max-height:393px) {
                    width: 92%;
                }

                @media screen and (max-width:391px) {
                    width: 95%;
                    font-size: 13px;
                }

                @media screen and (max-width:376px) {
                    width: 100%;
                }

                @media screen and (max-width:361px) {
                    width: 90%;
                    font-size: 11px;
                }

                @media screen and (max-width:356px) {
                    width: 90%;
                    // font-size: 11px;
                }

                @media screen and (max-width:341px) {
                    width: 95%;
                    font-size: 11px;
                }

                @media screen and (max-width:331px) {
                    width: 100%;
                    font-size: 11px;
                }
            }
        }

        hr {
            height: 220px;
            width: 3px;
            top: 4608px;
            border: 1px;
            opacity: 0.7px;
            background-color: #fffffa;

            @media screen and (max-width:541px) {
                width: 320px;
                height: 3px;
            }

            @media screen and (max-width:501px) {
                width: 85%;
            }
        }

        .last-section {
            width: 200px;
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            border: 2px solid red;

            @media screen and (max-width:1101px) {
                width: 30%;
            }

            @media screen and (max-width:1021px) {
                width: 32%;
            }

            @media screen and (max-width:541px) {
                justify-content: center;
                width: 80%;
                flex-direction: column;
                flex-wrap: wrap;
                height: 145px;
            }

            @media screen and (max-width:451px) {
                justify-content: space-around;
                width: 80%;
                flex-direction: column;
                flex-wrap: wrap;
                height: 180px;
            }

            @media screen and (max-width:415px) {
                gap: 15px;
            }

            @media screen and (max-height:393px) {
                width: 80%;
                gap: 20px;
                height: 145px;
                justify-content: flex-start;
                align-items: flex-start;
            }

            @media screen and (max-width:391px) {
                align-items: flex-start;
                gap: 15px;
            }


            .phone {
                width: 170px;
                height: 50px;
                border: 2px solid red;

                @media screen and (max-width:1101px) {
                    width: 90%;
                }

                @media screen and (max-width:541px) {
                    width: 50%;
                }

                @media screen and (max-height:393px) {
                    width: 30%;
                }

                @media screen and (max-width:391px) {
                    width: 40%;
                }

                h2 {
                    color: rgba(250, 250, 250, 1);
                    opacity: 90%;

                    @media screen and (max-width:1101px) {
                        font-size: 19px;
                    }

                    @media screen and (max-width:391px) {
                        font-size: 16px;
                    }

                    @media screen and (max-width:381px) {
                        font-size: 14px;
                    }
                }

                p {
                    color: rgba(250, 250, 250, 1);

                    @media screen and (max-width:1101px) {
                        font-size: 11px;
                    }

                    @media screen and (max-width:541px) {
                        width: 70%;
                        border: 2px solid yellow;
                    }

                    @media screen and (max-width:451px) {
                        width: 55%;
                        font-size: 10px;
                    }

                    @media screen and (max-width:391px) {
                        width: 100%;
                    }

                    @media screen and (max-width:381px) {
                        font-size: 9px;
                    }

                    @media screen and (max-width:361px) {
                        font-size: 8px;
                    }
                }

                .title-address {
                    color: rgba(250, 250, 250, 1);

                    @media screen and (max-width:1101px) {
                        font-size: 11px;
                    }

                    @media screen and (max-width:541px) {
                        width: 70%;
                        border: 2px solid yellow;
                    }

                    @media screen and (max-width:451px) {
                        width: 55%;
                        font-size: 10px;
                    }

                    @media screen and (max-height:737px) {
                        width: 85%;
                    }

                    @media screen and (max-height:393px) {
                        width: 100px;
                    }

                    @media screen and (max-width:391px) {
                        width: 100%;
                    }

                    @media screen and (max-width:381px) {
                        font-size: 9px;
                    }

                    @media screen and (max-width:361px) {
                        font-size: 8px;
                    }

                }
            }

            .phone-social {
                width: 170px;
                height: 60px;
                border: 2px solid red;

                @media screen and (max-width:1101px) {
                    width: 90%;
                }

                @media screen and (max-width:541px) {
                    width: 50%;
                }

                @media screen and (max-height:393px) {
                    width: 40%;
                    font-size: 19px;

                }

                h2 {
                    color: rgba(250, 250, 250, 1);
                    opacity: 90%;

                    @media screen and (max-width:1101px) {
                        font-size: 19px;
                    }

                    @media screen and (max-width:891px) {
                        font-size: 18px;
                    }

                    @media screen and (max-width:843px) {
                        font-size: 17px;
                    }

                    @media screen and (max-width:391px) {
                        font-size: 16px;
                    }

                    @media screen and (max-height:393px) {
                        font-size: 14px;
                    }

                    @media screen and (max-width:381px) {
                        font-size: 14px;
                    }

                    @media screen and (max-width:371px) {
                        font-size: 15px;
                    }

                }

                p {
                    color: rgba(250, 250, 250, 1);

                    @media screen and (max-width:1101px) {
                        font-size: 11px;
                    }
                }

                .social {
                    width: 70%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    @media screen and (max-width:891px) {
                        width: 85%;
                        font-size: 22px;
                        border: 2px solid red;
                    }

                    @media screen and (max-width:541px) {
                        width: 70%;
                    }

                    @media screen and (max-height:393px) {
                        width: 100%;
                    }

                    img {
                        @media screen and (max-height:393px) {
                            width: 20px;
                            height: 20px;
                        }

                        @media screen and (max-width:391px) {
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }
        }
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;

        .modal-content {
            background-color: #fff;
            padding: 40px;
            border-radius: 5px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
            max-width: 400px;
            width: 100%;
            position: relative;

            @media screen and (max-width:491px) {
                width: 60%;
                max-width: 450px;
                left: -70px;
            }

            @media screen and (max-width:421px) {
                width: 60%;
                max-width: 450px;
                left: -90px;
            }

            @media screen and (max-width:415px) {
                left: 0px;
                width: 85%;
            }

            @media screen and (max-width:381px) {
                left: 0px;
                width: 80%;
            }

            svg {
                position: relative;
                top: 0;
                left: 120px;

                @media screen and (max-width:491px) {
                    left: 100px;
                }

                @media screen and (max-width:415px) {
                    left: 100px;
                }
            }

            .close-x {
                position: absolute;
                top: 10px;
                right: 10px;
                padding: 5px;
                background-color: transparent;
                border: none;
                cursor: pointer;
                font-size: 18px;
                color: #555;

                .close-x:hover {
                    color: #ff0000;
                }
            }

            h3 {
                position: relative;
                top: 20px;
                font-size: 18px;
                margin-bottom: 20px;

                @media screen and (max-width:491px) {
                    font-size: 16px;
                }

                @media screen and (max-width:445px) {
                    font-size: 15px;
                }

                @media screen and (max-width:415px) {
                    font-size: 15px;
                }

                @media screen and (max-width:401px) {
                    font-size: 14px;
                }

                @media screen and (max-width:381px) {
                    font-size: 12px;
                    width: 100%;
                    border: 2px solid red;
                }
            }
        }
    }
}