.head-type {
    width: 700px;
    height: 380px;
    margin-left: 100px;
    perspective: 1000px;

    @media screen and (max-width:1021px) {
        width: 550px;
        margin-left: 30px;
    }

    @media screen and (max-width:971px) {
        width: 500px;
        margin-left: 30px;
    }

    @media screen and (max-width:901px) {
        width: 450px;
        margin-left: 30px;
    }

    @media screen and (max-width:841px) {
        width: 450px;
    }

    @media screen and (max-width:731px) {
        width: 450px;
        margin: 0 auto;
    }

    @media screen and (max-width:481px) {
        width: 400px;
        margin: 0 auto;
    }

    @media screen and (max-width:430px) {
        margin-right: 35px;
    }

    @media screen and (max-width:436px) {
        width: 400px;
        margin-left: 25px;
    }

    @media screen and (max-width:431px) {
        margin-left: 10px;
    }

    @media screen and (max-width:401px) {
        width: 380px;
        margin-left: 20px;
    }

    @media screen and (max-width:361px) {
        width: 360px;
        margin-left: 10px;
    }

    .card-type {
        height: 100%;
        border-radius: 50px;
        background: linear-gradient(135deg, #89ABE3, #C5FAD5);
        transition: 0.5s ease-in-out;
        transform-style: preserve-3d;
        box-shadow: #05471100 40px 50px 25px,
            #02140033 0px 25px 25px;

        @media screen and (max-width:421px) {
            width: 370px;
            position: relative;
            left: 5px;
        }

        @media screen and (max-width:416px) {
            width: 370px;
            position: relative;
            left: 2px;
        }

        @media screen and (max-width:411px) {
            width: 370px;
            position: relative;
            left: -5px;
        }

        @media screen and (max-width:395px) {
            left: -10px;
        }

        @media screen and (max-height:393px) {
            height: 320px;
        }

        @media screen and (max-width:391px) {
            left: -15px;
            // width: 350px;
        }

        @media screen and (max-width:386px) {
            left: -15px;
            width: 350px;
        }

        @media screen and (max-height:668px) {
            height: 130%;
        }

        @media screen and (max-width:386px) {
            left: 2px;
            width: 320px;
        }

        @media screen and (max-width:341px) {
            left: 5px;
            width: 300px;
        }

        @media screen and (max-width:326px) {
            left: -2px;
            width: 300px;
        }

        @media screen and (max-height:569px) {
            height: 118%;
        }

        .logo {
            position: absolute;
            right: 0;
            top: 0;
            transform-style: preserve-3d;

            .circle {
                position: absolute;
                aspect-ratio: 1;
                border-radius: 50%;
                background: #00f9cd33;
                top: 0;
                right: 0;
                box-shadow: #64646f33;
                transition: 0.5s ease-in-out;
                backdrop-filter: blur(5px);

                @media screen and (max-width:1021px) {
                    width: 120px;
                    height: 120px;
                }
            }

            .circle1 {
                width: 170px;
                transform: translate3d(0, 0, 20px);
                top: 8px;
                right: 8px;
                transition-delay: 0.0s;

                @media screen and (max-width:1021px) {
                    width: 100px;
                    height: 100px;
                }
            }

            .circle2 {
                width: 140px;
                transform: translate3d(0, 0, 40px);
                top: 10px;
                right: 10px;
                transition-delay: 0.4s;

                @media screen and (max-width:1021px) {
                    width: 80px;
                    height: 80px;
                }
            }

            .circle3 {
                width: 110px;
                transform: translate3d(0, 0, 60px);
                top: 17px;
                right: 17px;
                transition-delay: 0.8s;

                @media screen and (max-width:1021px) {
                    width: 70px;
                    height: 70px;
                }
            }

            .circle4 {
                width: 80px;
                transform: translate3d(0, 0, 80px);
                top: 23px;
                right: 23px;
                transition-delay: 1.2s;

                @media screen and (max-width:1021px) {
                    width: 60px;
                    height: 60px;
                }
            }

            .circle5 {
                width: 50px;
                transform: translate3d(0, 0, 100px);
                top: 30px;
                right: 30px;
                transition-delay: 1.6s;

                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--prime_color);

                @media screen and (max-width:1021px) {
                    width: 50px;
                    height: 50px;
                }
            }
        }

        .glass {
            transform-style: preserve-3d;
            position: absolute;
            inset: 8px;
            background: linear-gradient(#ffffff59, #ffffffd0);
            border-radius: 55px;
            border-top-right-radius: 100%;
            border-left: 1pxn solid white;
            border-bottom: 1px solid white;
            transition: 0.5s ease-in-out;
            transform: translate3d(0, 0, 25px);

            .content {
                width: 80%;
                padding: 30px;

                h1 {
                    color: #E7E8D1;
                    font-weight: 900;
                    font-size: 20px;
                    font-family: sans-serif;
                }

                p {
                    margin-top: 10px;
                    color: #aaab9a;
                    font-size: 24px;

                    @media screen and (max-width:1233px) {
                        border: 2px solid red;
                        width: 100%;
                        font-size: 22px;
                    }

                    @media screen and (max-width:1124px) {
                        font-size: 20px;
                        width: 95%;
                    }

                    @media screen and (max-width:1021px) {
                        font-size: 21px;
                        width: 100%;
                    }

                    @media screen and (max-width:971px) {
                        font-size: 20px;
                        margin-top: 15px;
                    }

                    @media screen and (max-width:911px) {
                        font-size: 19.5px;
                    }

                    @media screen and (max-width:901px) {
                        font-size: 18px;
                        margin-top: 35px;
                    }

                    @media screen and (max-width:865px) {
                        font-size: 17.5px;
                    }

                    @media screen and (max-width:832px) {
                        font-size: 17px;
                        margin-top: 30px;
                    }

                    @media screen and (max-width:818px) {
                        font-size: 16px;
                    }

                    @media screen and (max-width:781px) {
                        width: 110%;
                    }

                    @media screen and (max-width:755px) {
                        width: 120%;
                    }

                    @media screen and (min-height:933px) {
                        width: 130%;
                    }

                    @media screen and (min-height:853px) {
                        width: 130%;
                        // font-size: 20px;
                    }

                    @media screen and (max-width:761px) {
                        font-size: 14px;
                        margin-top: 30px;
                    }

                    @media screen and (max-width:731px) {
                        font-size: 18px;
                    }

                    @media screen and (max-width:481px) {
                        font-size: 16px;
                    }

                    @media screen and (min-height:933px) {
                        font-size: 19px;
                    }

                    @media screen and (max-width:421px) {
                        font-size: 18px;
                    }

                    @media screen and (max-width:386px) {
                        font-size: 14px;
                    }

                    @media screen and (min-height:813px) {
                        font-size: 16px;
                        width: 130%;
                    }

                    @media screen and (max-width:431px) {
                        font-size: 19px;
                    }

                    @media screen and (max-width:415px) {
                        font-size: 19px;
                        width: 135%;
                    }

                    @media screen and (max-width:391px) {
                        font-size: 18px;
                    }

                    @media screen and (max-width:376px) {
                        width: 136%;
                        font-size: 16px;
                    }

                    @media screen and (max-width:361px) {
                        font-size: 15px;
                    }

                    @media screen and (max-width:341px) {
                        font-size: 13.5px;
                    }

                    @media screen and (max-height:569px) {
                        width: 140%;
                    }
                }
            }

            .footer {
                transform-style: preserve-3d;
                position: absolute;
                bottom: 20px;
                left: 30px;
                right: 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .social {
                    transform-style: preserve-3d;
                    display: flex;
                    gap: 10px;

                    .social-icons {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        border-color: #fff;
                        color: gray;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        box-shadow: #05471180 7px 7px 5px;
                        transition: 0.5s;

                        .social-icons:nth-child(1) {
                            transition: 0.2s ease-in-out 0.2s;
                        }

                        .social-icons:nth-child(2) {
                            transition: 0.2s ease-in-out 0.4s;
                        }

                        .social-icons:nth-child(3) {
                            transition: 0.2s ease-in-out 0.6s;
                        }
                    }
                }
            }
        }
    }

    .head-type:hover .card-type {
        transform: rotate3d(1, 1, 0, 30deg);
        box-shadow: #0547110d 30px 50px 25px #05471111 0px 25px 30px;
    }

    .head-type:hover .card-type .footer .social .social-icons {
        transform: translate3d(0, 0, 50px);
        box-shadow: #05471133 -5px 20px 10px;
    }

    .head-type:hover .card-type .logo .circle2 {
        transform: translate3d(0, 0, 60px);
    }

    .head-type:hover .card-type .logo .circle3 {
        transform: translate3d(0, 0, 90px);
    }

    .head-type:hover .card-type .logo .circle4 {
        transform: translate3d(0, 0, 100px);
    }

    .head-type:hover .card-type .logo .circle5 {
        transform: translate3d(0, 0, 120px);
    }
}